config AGP
	tristate "/dev/agpgart (AGP Support)" if !GART_IOMMU
	depends on X86
	default y if GART_IOMMU
	---help---
	  AGP (Accelerated Graphics Port) is a bus system mainly used to
	  connect graphics cards to the rest of the system.

	  If you have an AGP system and you say Y here, it will be possible to
	  use the AGP features of your 3D rendering video card. This code acts
	  as a sort of "AGP driver" for the motherboard's chipset.

	  If you need more texture memory than you can get with the AGP GART
	  (theoretically up to 256 MB, but in practice usually 64 or 128 MB
	  due to kernel allocation issues), you could use PCI accesses
	  and have up to a couple gigs of texture space.

	  Note that this is the only means to have XFree4/GLX use
	  write-combining with MTRR support on the AGP bus. Without it, OpenGL
	  direct rendering will be a lot slower but still faster than PIO.

	  You should say Y here if you use XFree86 3.3.6 or 4.x and want to
	  use GLX or DRI.  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called agpgart.

config AGP_AMD64
	tristate "AMD Opteron/Athlon64 on-CPU GART support" if !GART_IOMMU
	depends on AGP && X86
	default y if GART_IOMMU
	help
	  This option gives you AGP support for the GLX component of
	  XFree86 4.x using the on-CPU northbridge of the AMD Athlon64/Opteron CPUs.
	  You still need an external AGP bridge like the AMD 8151, VIA
          K8T400M, SiS755. It may also support other AGP bridges when loaded
	  with agp_try_unsupported=1.
	  You should say Y here if you use XFree86 3.3.6 or 4.x and want to
	  use GLX or DRI.  If unsure, say Y

config AGP_INTEL
	tristate "Intel 440LX/BX/GX, I8xx and E7x05 chipset support"
	depends on AGP && X86
	help
	  This option gives you AGP support for the GLX component of XFree86 4.x
	  on Intel 440LX/BX/GX, 815, 820, 830, 840, 845, 850, 860, 875,
	  E7205 and E7505 chipsets and full support for the 810, 815, 830M, 845G,
	  852GM, 855GM, 865G and I915 integrated graphics chipsets.

	  You should say Y here if you use XFree86 3.3.6 or 4.x and want to
	  use GLX or DRI, or if you have any Intel integrated graphics
	  chipsets.  If unsure, say Y.
